.menu{
    display: none;
}

a{
    text-decoration: none;
}

ion-title{
    font-size: 20px;
    font-weight: bold;
}

p{
    margin-right: 20px;
    padding: 10px;
}

ion-item{
    --ion-background-color:transparent;
    color: #fff;
}

ion-item:hover{
    --color: #fff;
    cursor: pointer;
    background-color: rgba(182, 169, 169, 0.315);
}

p:hover{
    cursor: pointer;
    background-color: rgba(182, 169, 169, 0.315);
  
}

.git{
font-size: 20px;
color: #fff;
}

img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 200px;
    display: block;
    width: 200px;
}

h1{
   
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.separator{
    width: 20%;
    border-top: 1px solid #fff;
    display: block;
    margin: auto;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


@media (max-width: 870px) {
ion-item{
    display: none;
}
ion-title{
    text-align: center;
}

.menu{
    display: block;
    margin-left: 20px;
}

}



    