<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons slot="start" class="menu">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    <ion-title>portfolio</ion-title>
    <ion-item slot="end"(click)="portfolio()" >Portfolio</ion-item>
    <ion-item slot="end" (click)="about()">About</ion-item>
    <ion-item slot="end" (click)="contact()">Contact</ion-item>
    <ion-item slot="end" (click)="testimonial()">Testimonials</ion-item>
    
    <ion-item slot="end" href="https://github.com/tolutronics?tab=repositories"><ion-icon class="git" name="logo-github" slot="end"></ion-icon>Github</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary'>
<img src="/assets/img/tolu.jpg" alt="">
<h1>TOLULOPE ADENIYI</h1>
<div class="separator"></div>
<span>Mobile and Web Developer</span>

</ion-content>
